
*{
    padding: 0;
    margin: 0;
}
.product-small-img img{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.product-small-img img:hover{
    opacity: 1;
}
.product-small-img{
    float: left;
}
.product{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
.img-container img{
    height: 500px;
}
.img-container{
float: right;
padding: 10px;
}